# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel
public/images/di-verano/di-rverano_01.png
public/images/di-verano/di-rverano_02.png
public/images/di-verano/di-rverano_03.png
public/images/di-verano/di-rverano_04.png
public/images/di-verano/di-rverano_05.png
public/images/di-verano/di-rverano_06.png
public/images/di-verano/di-rverano_07.png
public/images/di-verano/di-rverano_08.png
public/images/di-verano/di-rverano_09.png
public/images/di-verano/di-verano-capa.png
public/images/di-verano/didi-rverano_02.png
public/images/di-verano/didi-rverano_03.png
public/images/di-verano/didi-rverano_04.png
public/images/di-verano/didi-rverano_05.png
public/images/di-verano/didi-rverano_06.png
public/images/di-verano/didi-rverano_07.png
public/images/di-verano/didi-rverano_08.png
public/images/di-verano/didi-rverano_09.png
public/images/di-verano/didi-rverano_11.png
public/images/di-verano/didi-rverano_12.png
public/images/di-verano/didi-rverano_20.png
public/images/di-verano/email.png
public/images/di-verano/fundo-de-funil.gif
public/images/di-verano/gif-.gif
public/images/di-verano/gif-di-verano.gif
public/images/di-verano/gif-di-verano.mp4
public/images/di-verano/meio-de-funil.gif
public/images/di-verano/socia.png
public/images/di-verano/topo-de-funil.gif
public/images/di-verano/website.mp4
public/images/loopbass/gif.gif
public/images/loopbass/loopbass-capa.png
public/images/loopbass/loopbass.png
public/images/loopbass/loopbass1.png
public/images/loopbass/loopbass2.png
public/images/loopbass/loopbass3.png
public/images/loopbass/loopbass4.png
public/images/loopbass/loopbass5.png
public/images/loopbass/loopbass6.png
public/images/loopbass/loopbass7.png
public/images/loopbass/loopbass8.png
public/images/loopbass/loopbass9.png
public/images/loopbass/template_01.png
public/images/loopbass/template_02.png
public/images/loopbass/template_03.png
public/images/loopbass/template_04.png
public/images/loopbass/template_05.png
public/images/loopbass/template_06.png
public/images/loopbass/template_07.png
public/images/loopbass/template_08.png
public/images/loopbass/template_09.png
public/images/loopbass/video-gif.mp4
public/images/monaco/capa-amp.png
public/images/monaco/freela_01.png
public/images/monaco/freela_02.png
public/images/monaco/freela_03.png
public/images/monaco/freela_04.png
public/images/monaco/freela_05.png
public/images/monaco/freela_06.png
public/images/monaco/freela_07.png
public/images/monaco/freela_08.png
public/images/monaco/freela_09.png
public/images/sonic/eletronica.gif
public/images/sonic/midiaeletronica-1920.gif
public/images/sonic/motion.gif
public/images/sonic/old-logo.png
public/images/sonic/outdoor.png
public/images/sonic/sonic-capa.png
public/images/sonic/template_01.png
public/images/sonic/template_02.png
public/images/sonic/template_03.gif
public/images/sonic/template_04.gif
public/images/sonic/template_04.png
public/images/sonic/template_05.png
public/images/sonic/template_06.png
public/images/sonic/template_07.png
public/images/sonic/template_08.png
public/images/sonic/template_09.png
public/images/sonic/template_10.png
public/images/tryb/5.psd
public/images/tryb/mockup.psd
