.footer {
  padding: 5em 0 3em 0;
  background-color: var(--color-bg-alt);
  color: var(--color-fg);
}

.inner {
  width: 100%;
  max-width: var(--size-inner);
  margin: 0 auto;
  padding: 0 var(--size-gutter);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contactSection {
  width: 60%;
}

.contactSection p {
  margin: 0;
  font-size: 1.1em;
}

.socialSection {
  width: 35%;
  text-align: right;
}

.icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 1em;
}

.iconLink {
  display: inline-block;
  width: 2.75em;
  height: 2.75em;
  line-height: 2.75em;
  text-align: center;
  border: 1px solid var(--color-border);
  border-radius: var(--size-border-radius);
  color: inherit;
  transition: color var(--duration-transition) ease, border-color var(--duration-transition) ease;
  font-weight: var(--font-weight-black);
}

.iconLink:hover {
  color: var(--color-accent1);
  border-color: var(--color-accent1);
}

@media (max-width: 980px) {
  .contactSection {
    width: 100%;
    margin-bottom: 2em;
    text-align: center;
  }
  .socialSection {
    width: 100%;
    text-align: center;
  }
}