/* Em: styles/pages/SobreMim.module.css */

.pageContainer {
  padding-top: 10em;
  padding-bottom: 5em;
  min-height: 80vh;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}

.textContainer {
  flex: 2; /* Ocupa 2/3 do espaço */
  max-width: 65ch; /* Limita a largura da linha para melhor legibilidade */
}

.textContainer h1 {
  font-size: 2.5em;
  line-height: 1.3;
  margin-bottom: 1em;
}

.imageContainer {
  flex: 1; /* Ocupa 1/3 do espaço */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  border-radius: 50%;
  object-fit: cover;
}


/* Estilos para telas menores (mobile) */
@media (max-width: 980px) {
  .pageContainer {
    padding-top: 8em;
  }
  .contentWrapper {
    flex-direction: column-reverse; /* Inverte a ordem: imagem primeiro, depois texto */
    gap: 2em;
    text-align: left;
  }
  .textContainer h1 {
    font-size: 2em;
  }
}