/* Em: components/common/LanguageSwitcher/LanguageSwitcher.module.css */
.switcher {
  display: flex;
  align-items: center;
}


[data-theme='dark'] .link {
  border-color: var(--color-border);
}

[data-theme='dark'] .link:hover {
  background-color: var(--color-fg);
  color: var(--color-bg);
  border-color: var(--color-fg);
}